.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #000;
  font-size: calc(10px + 2vmin);
  background-color: #fff;
}

.App-link {
  color: #ff8c00;
}

@media (prefers-color-scheme: dark) {
  .App-header {
    color: #fff;
    background-color: #282c34;
  }
}
